.time {
    display: flex;
    flex-direction: row;
    gap: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.to-find {
    display: flex;
    flex-direction: row;
    margin: 1rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.characters-found {
    border: 2px solid black;
    padding: 2px;
    background-color: red;
}

.found {
    background-color: green;
}

h2 {
    text-align: center;
}