.leaderboard-div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

td, table, th {
    border: 2px solid black;
    font-size: 1.5rem;
    border-collapse: collapse;
    padding: 1rem 2rem;
    text-align: center;
}